// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.bm-cli-tools {
  input, select {
    background-color: #1b1d23;
    color: #d7dae0;
    border-color: #1b1d23;
  }
}
